.header{
    text-align: center;
    position: relative;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    &__text{
        font-size: 4.7rem;
        color: $color-brown-light;
        margin: 1rem auto;
    }
    &__btn{
        background-color: $color-brown-light;
        color: white;
        border: 1px solid $color-brown-light;
        border-radius: 8px;
        padding: 1.4rem 3.6rem;
        font-size: 2rem;
        width: fit-content;
        margin: 1.4rem auto 1.2rem;
        transition: all .5s ease;
        cursor: pointer;
        &:hover{
            background-color: transparent;
            color: $color-brown-light;
        }
    }
    &__animation{
        width: 56vw;
        height: auto;
        margin: 1rem auto 0;
        margin-top: auto;
        position: relative;
        &__contents{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            img{
                height: 12vw;
                object-fit: contain;
                z-index: 6;
                position: absolute;
                bottom: 0;
            }
            .chicken{
                right: 20%;
                height: 16vw;
                transform: rotate(65deg);
            }
            .fries{
                top: 30%;
                right: 45%;
                height: 8.5vw;
                transform: rotate(-25deg);
            }
            .wings{
                left: 30%;
                transform: rotate(-90deg);
                height: 14vw;
            }
            .redpepper{
                height: 6vw;
                left: 20%;
            }
            .yellowpepper{
                right: 12%;
            }
            .pepper{
                height: 9vw;
                transform: rotate(-35deg);
            }
        }
        .openup{
            position: relative;
            width: 85%;
            margin: 0 auto;
            z-index: 0;
            .opened{
                display: flex;
                .leftopen{
                    width: 1.3rem;
                    height: 8.5vw;
                    transform: rotate(121deg) translateX(-3.6vw) translateY(-3.3vw);
                    position: absolute;
                    background-color: rgb(228,228,228);
                }
                .rightopen{
                    width: 1.3rem;
                    height: 8.5vw;
                    transform: rotate(-121deg) translateX(3.6vw) translateY(-3.3vw);
                    position: absolute;
                    background-color: rgb(228,228,228);
                    right: 0;
                }
                .mainopen{
                    border-top: 6.2vw solid rgb(238,238,238);
                    border-left: 8vw solid transparent;
                    border-right: 8vw solid transparent;
                    height: 0;
                    width: 100%;
                }
            }
            .opentip{
                position: absolute;
                width: 98%;
                left: 1%;
                top: 0;  
                height: 20%;
                background-color: rgb(228,228,228);
            }
        }
       
        .relatived{
            position: relative;
            .top{
                position: absolute; 
                z-index: 10;
                height: auto;
                width: 100%;
                .cover{
                    border-bottom: 6vw solid rgb(238,238,238);
                    /*the animation would be made by changes to the border-bottom*/
                    border-left: 12.5vw solid transparent;
                    border-right: 12.5vw solid transparent;
                    height: 0;
                    width: 100%;
                }
                .covertip{
                    width: 56vw;
                    height: 2rem;
                    background-color: rgb(215,215,215);
                }
            }
            .middle{
                display: flex;
                width: 100%;
                height: 6vw;
                z-index: 2;
                .left{
                    width: 0;
                    height: 0;
                    border-bottom: 6vw solid rgb(228,228,228);
                    border-left: 12.5vw solid transparent;          
                }
                .right{
                    width: 0;
                    height: 0;
                    border-bottom: 6vw solid rgb(228,228,228);
                    border-right: 12.5vw solid transparent;          
                }
                .mid{
                    width: 60%;
                    background-color:rgb(215,215,215);
                    height: 100%;
                    margin-bottom: -2rem;
                }
            }
        }

        .bottom{
            width: 100%;
            height: 6.2vw;
            background-color: $color-brown-light;
            z-index: 10;
            position: relative;
        }
    }
}
@media screen and (max-width:900px){
    .header{
        &__animation{
            width: 70vw;
            .relatived{
                .top{
                    .covertip{
                        width: 70vw;
                    }
                }
                .middle{
                    .mid{
                        width: 80%;
                    }
                }
            }
            .bottom{
                height: 8rem;
            }
        }
    }
}
@media screen and (max-width:800px){
    .header{
        z-index: 4;
        min-height: 94vh;
        &__text{
            font-size: 3.6rem;
            margin: 10vh auto 3rem;
        }
        &__btn{
            font-size: 1.7rem;
            padding: 1.4rem 3.2em;
        }
        &__animation{
            &__contents{

                img{
                    height: 11rem;
                }
                .chicken{
                    height: 15rem;
                }
                .fries{
                    height: 8.5rem;
                }
                .wings{
                    height: 11rem;
                }
                .redpepper{
                    height: 5rem;
                    top:2%;
                }
                .pepper{
                    height: 9rem;
                }
            }
        }
    }  
}
@media screen and (max-width:500px){
    .header{
        &__animation{
            &__contents{
                .chicken{
                    height: 12rem;
                }
            }
            width: 84vw;
            .openup{
                .leftopen, .rightopen{
                    display: none;
                }
            }
            .relatived{
                .top{
                    .covertip{
                        width: 84vw;
                    }
                }
                .middle{
                    height: 5rem;
                    .left{
                        border-bottom: 5rem solid rgb(228,228,228);
                    }
                    .right{
                        border-bottom: 5rem solid rgb(228,228,228);
                    }
                    .mid{
                        width: 80%;
                    }
                }
            }
            .bottom{
                height: 5.2rem;
            }
        }
    }
}
@media screen and (max-width:450px){
    .header{
        &__text{
            font-size: 3.2rem;
            margin: 15vh auto 3rem;
        }
        &__btn{
            font-size: 1.5rem;
            padding: 1.4rem 2.4rem;
        }
    }
}
@media screen and (max-width:350px){
    .header{
        &__text{
            font-size: 2.8rem;
        }
    }
}
@media screen and (max-width:300px){
    .header{
        &__text{
            font-size: 2.4rem;
        }
    }
}