$color-brown-light: #a98165;
$color-brown-dark:rgb(102,79,60);
$color-brown-mid: rgb(165,133,79);
$color-brown-bg: rgb(246,238,224);
$color-light-bg: rgb(246,243,237);
$color-glow-green:rgb(140,199,64);
$color-green: rgb(14,117,56);
